{
  "extends": [
    "airbnb", 
    "prettier", 
    "eslint:recommended", 
    "plugin:react/recommended"
  ],
  "plugins": [
    "prettier", 
    "react", 
    "react-redux"
  ],
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-named-as-default": 0,
    "react/prop-types": 0,
    "no-console": 0
  }
}